body {
  text-align: center;
}

header {
  padding: 10px;
  background: #e0e0e0;
}

main {
  display: flex;
  justify-content: space-between;
  background: #fff8e3;
}

.block {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.main_p {
  flex-basis: 100%;
}

.container1 {
  width: 45%;
  padding: 10px;
  background: #feeab9;
}

.container2 {
  flex-basis: 95%;
  margin-top: 10px;
  padding: 10px;
  background: #feeab9;
}

aside {
  width: 40%;
  background: #ddeccb;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #e0e0e0;
}

.end {
  width: 22%;
  padding: 10px;
  background: #ffffff;
}
