body {
  text-align: center;
}

header {
  height: 50px;
  padding: 5px;
  background: #e0e0e0;
}

main {
  display: flex;
  align-content: space-around;
  height: 250px;
  background: #fff8e3;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.container {
  display: inline-flex;
  justify-content: space-between;
  width: 90%;
}

.container1 {
  height: 50px;
  width: 45%;
  background: #feeab9;
}

.container2 {
  height: 50px;
  width: 90%;
  background: #feeab9;
}

aside {
  width: 40%;
  background: #ddeccb;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background: #e0e0e0;
}

.end {
  height: 50px;
  width: 19%;
  background: #ffffff;
}
